[submodule "Automatic-License-Plate-Recognition-using-YOLOv8"]
	path = Automatic-License-Plate-Recognition-using-YOLOv8
	url = https://github.com/Nispeter/Automatic-License-Plate-Recognition-using-YOLOv8
